@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;;
}

h1,p,h2{
    margin: 0;
}

aside{
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
}

img[src = "https://www.svgrepo.com/show/251946/plus.svg"]{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

img[src ="https://www.svgrepo.com/show/384669/account-avatar-profile-user-13.svg"]{
    height: 45px;
    width: auto;
    align-self: center;
}

.user{
    display: flex;
    padding: 20px;
    border-bottom: 2px black solid;
    margin-bottom: 20px;
}

.user > h2{
    font-size: 2rem;
    margin-right: auto;
    align-self: center;
}

.addTask{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.addTask > p{
    align-self: center;
    font-size: 1.5rem;
}

.addProject{
    display: flex;
    padding: 10px 20px 20px 10px;
    gap: 10px;
    margin-bottom: 10px;
}

.addProject > p{
    align-self: center;
}

.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.projectList{
    list-style: none;
    margin: 0;
    padding: 0;
}

.projectList li{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.projectList li img{
    align-self: center;
    width: 25px;
    height: auto;
}

.taskGrid{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(75px,10%));
    gap: 15px;
}



